/* Colors */
$navigation-color: #231f20;
$info-title-color: #231f20;
$info-text-color: #231f20;
$info-text-red-color: #ed1c24;
$info-text-throw-color: #ed1c24;
$info-button-text-color: #fff;
$info-button-border-color: #dd263d;
$info-button-bg-color: #ed1c24;
$info-button-shadow-color: rgba(237, 28, 36, 0.6);
$descr-title-color: #fff;
$descr-border-color: #fff;
$descr-caption-color: #fff;
$descr-block-border-color: #ed1c24;
$descr-text-color: #fff;
$advantages-title-color: #030000;
$advantages-subtitle-color: #231f20;
$advantages-title-red-color: #e41d23;
$advantages-border-color: #e41d23;
$advantages-descr-color: #000;
$contacts-title-color: #231f20;
$contacts-title-red-color: #ed1c24;
$contacts-text-color: #231f20;
$construction-title-color: #231f20;
$construction-border-color: #000;
$construction-descr-color: #e22929;
$construction-text-color: #000;
$construction-button-border-color: #231f20;
$construction-zone-color: #231f20;
$construction-caption-color: #000;
$construction-caption-red-color: #ed1c24;
$results-bg-color: #414042;
$results-title-color: #f1f2f2;
$results-title-bg-color: #ed1c24;
$results-border-color: #ed1c24;
$results-image-caption-color: #58595b;
$results-image-caption-red-color: #ed1c24;
$results-descr-color: #414042;
$results-item-title-color: #ed1c24;
$team-title-color: #231f20;
$team-title-red-color: #ed1c24;
$team-name-color: #fff;
$team-bg-color: #ed1c24;
$team-text-color: #434343;
$team-name-color: #fff;
$team-name-bg-color: #ed1c24;
$team-image-bg-color: #ed1c24;
$explanation-title-color: #231f20;
$explanation-subtitle-color: #000;
$explanation-text-color: #000;
$explanation-border-color: #ed1c24;
$differences-title-color: #231f20;
$differences-subtitle-color: #ed1c24;
$differences-border-color: #ed1c24;
$differences-name-color: #000;
$differences-description-color: #000;
/* Fonts */
$GoogleSans-Bold: "GoogleSans-Bold", sans-serif;
$GoogleSans-Regular: "GoogleSans-Regular", sans-serif;