section.advantages
    .container
        h2.advantages__title В чем отличие бустеров
            span.advantages__subtitle <span class="advantages__title--red">insolex</span> от стелек?
        ul.advantages__list
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-1
                        use(xlink:href='img/sprite.svg#advantage-1')
                p.advantages__description Подходят для любой
                    span обуви
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-2
                        use(xlink:href='img/sprite.svg#advantage-2')
                p.advantages__description Предотвращают
                    span плоскостопие
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-3
                        use(xlink:href='img/sprite.svg#advantage-3')
                p.advantages__description Улучшаяют
                    span аммортизацию
                    span стопы
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-4
                        use(xlink:href='img/sprite.svg#advantage-4')
                p.advantages__description Сокращают
                    span время нахождения
                    span на опоре
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-5
                        use(xlink:href='img/sprite.svg#advantage-5')
                p.advantages__description Увеличивают
                    span торсионную
                    span жесткость
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-6
                        use(xlink:href='img/sprite.svg#advantage-6')
                p.advantages__description Придают
                    span упругость
                    span обуви
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-7
                        use(xlink:href='img/sprite.svg#advantage-7')
                p.advantages__description Увеличивают
                    span длинну шага
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-8
                        use(xlink:href='img/sprite.svg#advantage-8')
                p.advantages__description Увеличивают
                    span устойчивость
            li.advantages__item
                .advantages__wrapper
                    svg.advantages__icon-9
                        use(xlink:href='img/sprite.svg#advantage-9')
                p.advantages__description Уменьшают нагрузки
                    span на суставы
        .advantages__plus-wrapper
            span.advantages__plus-1
            span.advantages__plus-2
            span.advantages__plus-3
            span.advantages__plus-4
            span.advantages__plus-5
            span.advantages__plus-6
            span.advantages__plus-7
            span.advantages__plus-8