section.advantages
    .container
        h2.advantages__title <span class="advantages__title--red">Плюсы</span> применения бустера
        .advantages__wrapper
            h3.advantages__subtitle Профилактические
            ul.advantages__list
                li.advantages__item
                    p.advantages__description Бустеры автоматически исправляют положение всех суставов при каждом шаге и, следовательно, походку.
                li.advantages__item
                    p.advantages__description Бустеры поддерживают свод стопы динамически, каждый раз, когда это необходимо.
                        |  Не позволяют мышцам свода стопы атрофироваться, как это часто происходит от использования
                        |  обычных ортопедических стелек с постоянной статической поддержкой.
                li.advantages__item
                    p.advantages__description Бустер защищает суставы опорно-двигательного аппарата за счёт дополнительной многоуровневой амортизации.
                        |  Причем, чем сильнее нагрузка, тем сильнее амортизация.
                li.advantages__item
                    p.advantages__description Бустер обеспечивает профилактику поперечного плоскостопия при каждом шаге,
                        |  за счет особой конструкции и уникальной формы.
                li.advantages__item
                    p.advantages__description Бустер распределяет нагрузку на стопу максимально равномерно.
                        |  Препятствует возникновению дискомфорта в стопах и появлению мозолей и натоптышей.
        .advantages__wrapper
            h3.advantages__subtitle Спортивные
            ul.advantages__list
                li.advantages__item
                    p.advantages__description Увеличение длины шага за счёт инерционного толчка, который обеспечивается большей
                        |  площадью соприкосновения с опорной поверхностью.
                        |  Позволяет спортсмену на дистанции 10 км сэкономить до 600 шагов,
                li.advantages__item
                    p.advantages__description Усиление толчка. Используется накопленная энергия бустера в момент частичного сгибания пальцев.
                        |  Позволяет спортсмену эффективнее расходовать силы.
    .advantages__inner
        span.advantages__plus-1
        span.advantages__plus-2
        span.advantages__plus-3
        span.advantages__plus-4