section.advantages
    .container
        h2.advantages__title В чем отличие бустеров <span class="advantages__title--red">insolex</span> от стелек?
        ul.advantages__list
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#time')
                .advantages__wrapper
                    h3.advantages__name Долговечность
                    p.advantages__description Бустеры демпфируют ударные нагрузки за счет изгибания упругой пластины.
                        |  В результате, используемые в традиционных стельках материалы быстро теряют свои свойства, а бустеры практически вечны!
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#foot')
                .advantages__wrapper
                    h3.advantages__name Динамическая поддержка
                    p.advantages__description Бустеры обеспечивают динамическую поддержку поперечного свода стопы, тренируя ее
                        span Поддержка возникает лишь тогда, когда она необходима- в момент сгибания стопы. Причем, чем сильнее сгибается стопа, тем сильнее поддержка.
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#foot')
                .advantages__wrapper
                    h3.advantages__name Амортизация и перекат стопы
                    p.advantages__description Конструкция и материал обеспечивает физиологический перекат стопы.
                        span Амортизируя, БУСТЕР выгибается, образуя упругий радиус переката, который сохраняется до момента отталкивания от поверхности.
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#power')
                .advantages__wrapper
                    h3.advantages__name Увеличение мощности
                    p.advantages__description Выгибаясь под воздействием массы тела человека в момент касания опоры пяткой, БУСТЕР разгибается
                        |  в момент отталкивания от опоры носком. Таким образом энергия, рассеиваемая в традиционных стельках,
                        |  БУСТЕРОМ удерживается и направляется на усиление энергии толчка.
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#universally')
                .advantages__wrapper
                    h3.advantages__name Универсальность
                    p.advantages__description Благодаря сверх малой толщине всего 0,78 мм, БУСТЕР может быть использован практически в любой обуви.
                        span Достаточно просто поместить БУСТЕР под стельку  обуви.
            li.advantages__item
                svg.advantages__icon
                    use(xlink:href='img/sprite.svg#universally')
                .advantages__wrapper
                    p.advantages__description Профилактика атрофии мышц и связок стопы, склонной к возникновению плоскостопия.