section.construction
    .container
        h1.construction__title Конструкция бустера
        h2.construction__description «ЧТО ТАКОЕ БУСТЕР?»
        p.construction__text БУСТЕР ДЛЯ ОБУВИ - современное многослойное композитное устройство переменной жесткости и упругости.
            |  Уникальное устройство, сконструированное с применением новейших разработок
            |  космической и нанотромышленности. Над созданием БУСТЕРОВ трудилась команда врачей,
            |  спортсменов, инженеров и химиков
        button.construction__button Подробнее о команде
        h2.construction__description Зоны бустера
        p.construction__text БУСТЕР ДЛЯ ОБУВИ - современное многослойное композитное устройство переменной жесткости и упругости.
            |  Уникальное устройство, сконструированное с применением новейших разработок
            |  космической и нанотромышленности. Над созданием БУСТЕРОВ трудилась команда врачей,
            |  спортсменов, инженеров и химиков
        .construction__wrapper
            ul.construction__list
                li.construction__item
                    p.construction__zone Зона увеличения мощности отталкивания. Высвобождается дополнительная энергия, накопленная
                        |  бустером в начале шага.
                li.construction__item
                    p.construction__zone Зона динамической поддержки поперечного свода стопы
                li.construction__item
                    p.construction__zone Зона основного переката стопы включает в себя:
                        span Зону равномерного распределения нагрузки на
                            |  поперечный и продольный своды и
                            |  Зону повышенной устойчивости ноги в статике и
                            |  предотвращения торсионного скручивания.
                li.construction__item
                    p.construction__zone Зона дополнительной амортизации пяточной кости при
                        |  активных нагрузках и излишнем весе
            img(src="img/insoles-zones.png" alt="").construction__image
        p.construction__caption <span class="construction__caption--red">ЗАДАННАЯ УПРУГОСТЬ ОПРЕДЕЛЕННЫХ ЗОН БУСТЕРА</span>
            |  позволяет увеличить радиус изгиба носочной части стопы, что
        p.construction__caption <span class="construction__caption--red">УМЕНЬШАЕТ НАГРУЗКУ</span>
            |  на подошвенный апоневроз и на заднюю фасциальную линию в целом.