section.contacts
    .container
        .contacts__wrapper
            h1.contacts__title Производитель
                span.contacts__title--red  Insolex:
            p.contacts__text Производитель: Сафонов Артем Владимирович
                span ИНН 40280806195
                span г.Калуга ул.Карачевская 3,27
                span Телефон: +7(903)777-55-13
                span email: boost@insolex.ru
            p.contacts__text Обязательной сертификации не подлежит
                span Срок годности не ограничен
            ul.contacts__list
                li.contacts__item
                    a(href="").contacts__link
                        svg.contacts__icon-1
                            use(xlink:href='img/sprite.svg#vk')
                li.contacts__item
                    a(href="").contacts__link
                        svg.contacts__icon-2
                            use(xlink:href='img/sprite.svg#facebook')
                li.contacts__item
                    a(href="").contacts__link
                        svg.contacts__icon-3
                            use(xlink:href='img/sprite.svg#instagramm')
        .contacts__wrapper
            svg.contacts__point
                use(xlink:href='img/sprite.svg#point')
            svg.contacts__shadow
                use(xlink:href='img/sprite.svg#shadow')
    .contacts__inner
        span.contacts__plus-1
        span.contacts__plus-2
        span.contacts__plus-3
        span.contacts__plus-4
        span.contacts__plus-5
        span.contacts__plus-6
        span.contacts__plus-7
        span.contacts__plus-8
        span.contacts__plus-9