section.contacts
    .container
        .contacts__wrapper
            h1.contacts__title Производитель
                span.contacts__title--red  Insolex:
            p.contacts__text ООО "Инновационные технологии"
            p.contacts__text Россия, г. Калуга, ул. Ст. Сад, 43.
            p.contacts__text Обязательной сертификации не подлежит
            p.contacts__text Срок годности не ограничен
        .contacts__wrapper
            svg.contacts__point
                use(xlink:href='img/sprite.svg#point')
            svg.contacts__shadow
                use(xlink:href='img/sprite.svg#shadow')
    .contacts__inner
        span.contacts__plus-1
        span.contacts__plus-2
        span.contacts__plus-3
        span.contacts__plus-4
        span.contacts__plus-5
        span.contacts__plus-6
        span.contacts__plus-7
        span.contacts__plus-8
        span.contacts__plus-9