section.description
    .container
        h2.description__title Уникальное устройство, сконструированное с применением новейших разработок космической и нанопромышленности.
        .description__wrapper
             .description__inner
                p.description__text Разработки уникальных компонентов композиционных материалов ведутся участниками нашей компании с 1984 года.
                p.description__text В результате был создан инновационный материал, из которого стало возможно изготовить бустер, соответствующий всем требованиям надежности и обладающий необходимыми механическими характеристиками.
                p.description__text Компания "Инновационные Технологии" была основана в 2017 году.
             img(src="img/carbonage.png" srcsec="img/carbonage@2x.png 2x, img/carbonage@3x.png 3x" alt="Carbonage").description__image
        p.description__caption Использование инновационных материалов позволило создать новый продукт не имеющий аналогов
