section.differences
    .container
        h2.differences__title В чем отличие бустеров
            span.differences__subtitle <span class="differences__subtitle--red">insolex</span> от стелек?
        ul.differences__list
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--first
                    svg.differences__icon-1
                        use(xlink:href='img/sprite.svg#difference-1')
                    a(data-fancybox href="https://youtu.be/GIoYpjuRV1E" aria-label="Подходят для любой обуви").differences__video
                        img(data-src="img/video-10.jpg" data-srcset="img/video-10.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Подходят для любой обуви
                    a(data-fancybox href="https://youtu.be/GIoYpjuRV1E" aria-label="Подходят для любой обуви").differences__video
                        img(data-src="img/video-10.jpg" data-srcset="img/video-10.jpg" alt="").differences__image.lazyloading
                    p.differences__description Толщина Бустеров insoleX всего 0,75 мм, при массе 18 грамм. Благодаря малой
                        |  массе и толщине, Бустеры insoleX можно использовать в любой обуви.
                        |  Достаточно просто поместить Бустер insoleX под стельку обуви. Исключение составляет
                        |  лишь обувь, не плотно прилегающая к ноге и с каблуком более 40 мм
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--second
                    svg.differences__icon-2
                        use(xlink:href='img/sprite.svg#difference-2')
                    a(data-fancybox href="https://youtu.be/XktJ0ZkHxLo" aria-label="Предотвращают плоскостопие").differences__video
                        img(data-src="img/video-1.jpg" data-srcset="img/video-1.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Предотвращают плоскостопие
                    a(data-fancybox href="https://youtu.be/XktJ0ZkHxLo" aria-label="Предотвращают плоскостопие").differences__video
                        img(data-src="img/video-1.jpg" data-srcset="img/video-1.jpg" alt="").differences__image.lazyloading
                    p.differences__description Бустерами insoleX обеспечивается уникальная динамическая поддержка поперечного свода стопы.
                        |  Все традиционные стельки имеют утолщение под 2,3,4 плюсневыми костями, обеспечивая
                        |  постоянную статическую поддержку. Такая конструкция вызывает атрофию мышц и связок,
                        |  естественно поддерживающих свод и дополнительное растяжение подошвенного апоневроза.
                        |  Что ведет к неизбежности постоянного ношения ортопедических стелек. Бустеры insoleX обеспечивают
                        |  динамическую поддержку поперечного свода стопы, тренируя ее. Поддержка возникает лишь тогда,
                        |  когда она необходима- в момент сгибания стопы.
                        |  Причем, чем сильнее сгибается стопа, тем сильнее поддержка.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--third
                    svg.differences__icon-3
                        use(xlink:href='img/sprite.svg#difference-3')
                    a(data-fancybox href="https://youtu.be/XktJ0ZkHxLo" aria-label="Улучшают амортизацию и перекат стопы").differences__video
                        img(data-src="img/video-1.jpg" data-srcset="img/video-1.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Улучшают амортизацию и перекат стопы
                    a(data-fancybox href="https://youtu.be/XktJ0ZkHxLo" aria-label="Улучшают амортизацию и перекат стопы").differences__video
                        img(data-src="img/video-1.jpg" data-srcset="img/video-1.jpg" alt="").differences__image.lazyloading
                    p.differences__description Конструкция и материал Бустера insoleX обеспечивает физиологический перекат стопы.
                        |  При последовательном включении в работу зон бустера, напряжение выгибает Бустер insoleX
                        |  уже в самом начале, при касании пяткой поверхности. Амортизируя, Бустер insoleX выгибается,
                        |  образуя упругий радиус переката, который сохраняется до момента отталкивания от поверхности.
                        |  Традиционная стелька не способна обеспечить такой эффект.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--fourth
                    svg.differences__icon-4
                        use(xlink:href='img/sprite.svg#difference-4')
                .differences__text-wrapper
                    h3.differences__name Сокращают время нахождения на опоре
                    p.differences__description Во время многочисленных испытаний бустеров в московском «Центре спортивной физиологии и биомеханики»
                        |  были получены результаты сокращения пребывания спортсменов на опоре во время бега на 12%.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--fifth
                    svg.differences__icon-5
                        use(xlink:href='img/sprite.svg#difference-5')
                    a(data-fancybox href="https://youtu.be/ZFR4CWNOyhA" aria-label="Увеличивают торсионную жесткость").differences__video
                        img(data-src="img/video-5.jpg" data-srcset="img/video-5.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Увеличивают торсионную жесткость
                    a(data-fancybox href="https://youtu.be/ZFR4CWNOyhA" aria-label="Увеличивают торсионную жесткость").differences__video
                        img(data-src="img/video-5.jpg" data-srcset="img/video-5.jpg" alt="").differences__image.lazyloading
                    p.differences__description Бустеры insoleX препятствует скручиванию подошвы обуви, что позволяет надежнее стабилизировать стопу
                        |  на опоре во время движения. Благодаря этому эффекту, организм не перенапрягает вспомогательные мышцы,
                        |  используемые для стабилизации тела во время движения.
                        |  Спортсмен экономит энергию и перенаправляет ее на работу мышц, напрямую задействованных для движения.
                        |  В результате этого, спортсмен устает меньше, при значительных улучшениях результативности.
                        |  Снижается вероятность получения травмы голеностопного сустава.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--sixth
                    svg.differences__icon-6
                        use(xlink:href='img/sprite.svg#difference-6')
                    a(data-fancybox href="https://youtu.be/QJ-4rUbKdWA" aria-label="Придают упругость обуви").differences__video
                        img(data-src="img/video-6.jpg" data-srcset="img/video-6.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Придают упругость обуви
                    a(data-fancybox href="https://youtu.be/QJ-4rUbKdWA" aria-label="Придают упругость обуви").differences__video
                        img(data-src="img/video-6.jpg" data-srcset="img/video-6.jpg" alt="").differences__image.lazyloading
                    p.differences__description Выгибаясь под воздействием массы тела человека в момент касания опоры пяткой,
                        |  Бустер insoleX разгибается в момент отталкивания от опоры носком.
                        |  Таким образом энергия, рассеиваемая в традиционных стельках, удерживается Бустером insoleX
                        |  и направляется на усиление энергии толчка.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--seventh
                    svg.differences__icon-7
                        use(xlink:href='img/sprite.svg#difference-7')
                    a(data-fancybox href="https://youtu.be/YbGamjfztXs" aria-label="Придают упругость обуви").differences__video
                        img(data-src="img/video-7.jpg" data-srcset="img/video-7.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Увеличивают длину шага
                    a(data-fancybox href="https://youtu.be/YbGamjfztXs" aria-label="Придают упругость обуви").differences__video
                        img(data-src="img/video-7.jpg" data-srcset="img/video-7.jpg" alt="").differences__image.lazyloading
                    p.differences__description Во время многочисленных испытаний бустеров в московском «Центре спортивной физиологии и биомеханики»
                        |  был подтвержден эффект увеличения длины шага испытуемого, использовавшего
                        |  Бустер insoleX. Увеличение длины шага позволяет сэкономить спортсмену 600 шагов на дистанции 10 км.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--eighth
                    svg.differences__icon-8
                        use(xlink:href='img/sprite.svg#difference-8')
                    a(data-fancybox href="https://youtu.be/lKWm4cWxNDM" aria-label="Увеличивают устойчивость").differences__video
                        img(data-src="img/video-8.jpg" data-srcset="img/video-8.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Увеличивают устойчивость
                    a(data-fancybox href="https://youtu.be/lKWm4cWxNDM" aria-label="Увеличивают устойчивость").differences__video
                        img(data-src="img/video-8.jpg" data-srcset="img/video-8.jpg" alt="").differences__image.lazyloading
                    p.differences__description Бустеры insoleX увеличивают пятно контакта подошвы с опорой, распределяя нагрузку на стопу максимально
                        |  равномерно, что позволяет надежнее стабилизировать стопу на опоре.
                        |  Благодаря этому эффекту, организм не перенапрягает вспомогательные мышцы, используемые для стабилизации
                        |  тела во время силовых упражнений. Спортсмен экономит энергию, обычно затрачиваемую на стабилизацию тела и
                        |  перенаправляет ее на работу мышц, задействованных во время силовых тренировок.
                        |  В результате этого, значительно возрастает результативность силовых тренировок целевых групп мышц.
            li.differences__item
                .differences__icon-wrapper.differences__icon-wrapper--ninth
                    svg.differences__icon-9
                        use(xlink:href='img/sprite.svg#difference-9')
                    a(data-fancybox href="https://youtu.be/uz0djBIy-m4" aria-label="Уменьшают нагрузки на суставы").differences__video
                        img(data-src="img/video-9.jpg" data-srcset="img/video-9.jpg" alt="").differences__image.lazyloading
                .differences__text-wrapper
                    h3.differences__name Уменьшают нагрузки на суставы
                    a(data-fancybox href="https://youtu.be/uz0djBIy-m4" aria-label="Уменьшают нагрузки на суставы").differences__video
                        img(data-src="img/video-9.jpg" data-srcset="img/video-9.jpg" alt="").differences__image.lazyloading
                    p.differences__description Конструкция и материал Бустера insoleX обеспечивает физиологический перекат стопы.
                        |  При последовательном включении в работу зон бустера, создаваемое напряжение выгибает Бустер insoleX
                        |  уже в самом начале, при касании пяткой поверхности.
                        |  Амортизируя, Бустер insoleX выгибается, образуя упругий радиус переката, который сохраняется до момента
                        |  отталкивания от поверхности. Заданная упругость определенных зон бустера позволяет увеличить радиус изгиба
                        |  носочной части стопы, что уменьшает нагрузку на подошвенный апоневроз и на заднюю фасциальную линию в целом.
                        |  Бустер защищает суставы опорно-двигательного аппарата за счёт уникальной многоуровневой амортизации.
                        |  Причем, чем сильнее нагрузка, тем сильнее амортизация.
    .differences__inner
        span.differences__plus-1
        span.differences__plus-2
        span.differences__plus-3
        span.differences__plus-4
        span.differences__plus-5