section.explanation
    .container
        h2.explanation__title Что такое бустер?
        p.explanation__subtitle Бустер для обуви insoleX - современное многослойное композитное устройство переменной жесткости
            |  и упругости, сконструированное с применением новейших разработок космической и нанопромышленности.
            span Бустер insoleX это:
        ul.explanation__list
            li.explanation__item
                p.explanation__text Инновационный усилитель энергии движения, не имеющий аналогов в мире.
            li.explanation__item
                p.explanation__text Корректор пастуральной устойчивости тела.
            li.explanation__item
                p.explanation__text Мощная ножная пружина.
            li.explanation__item
                p.explanation__text Многоуровневый протектор суставов опорно-двигательного аппарата.
            li.explanation__item
                p.explanation__text Индивидуальный амортизатор для ног.
            li.explanation__item
                p.explanation__text Корректор, позволяющий мышцам стопы работать правильно.
            li.explanation__item
                p.explanation__text Устройство динамического действия для профилактики атрофии мышц и связок стопы, склонной к возникновению
                    |  поперечного плоскостопия.