section.info
    .container
        h1.info__title Умное
            span Управление
            span Энергией
        p.info__text
            span.info__text--throw Стельки
            span  Бустеры
            span.info__text--red  Insolex
        button.info__button Купить
        .info__wrapper
            span.info__plus-1
            span.info__plus-2
            span.info__plus-3
            span.info__plus-4
            span.info__plus-5
            span.info__plus-6