section.info
    .container
        h1.info__title Умное
            span Управление
            span Энергией
        p.info__text
            span.info__text--throw Стельки
            span  Бустеры
            span.info__text--red  Insolex
        button.info__button Купить