section.products
    .container
        h1.products__title Продукция
        form(method='POST' action="").products__form
            .products__wrapper
                .products__inner
                    p.products__description Размер(RUS) / Длина стопы(мм)
                    select(name="size").products__select
                        option(value="Размер 35 / 225") 35 / 225
                        option(value="Размер 36 / 230") 36 / 230
                        option(value="Размер 37 / 235") 37 / 235
                        option(value="Размер 37.5 / 240") 37.5 / 240
                        option(value="Размер 38 / 245") 38 / 245
                        option(value="Размер 39 / 250") 39 / 250
                        option(value="Размер 40 / 255") 40 / 255
                        option(value="Размер 40.5 / 260") 40.5 / 260
                        option(value="Размер 41 / 265") 41 / 265
                        option(value="Размер 42 / 270") 42 / 270
                        option(value="Размер 43 / 275") 43 / 275
                        option(value="Размер 43.5 / 280") 43.5 / 280
                        option(value="Размер 44 / 285") 44 / 285
                        option(value="Размер 45 / 290") 45 / 290
                        option(value="Размер 46 / 295") 46 / 295
                        option(value="Размер 47 / 305") 47 / 305
                .products__inner
                    p.products__description Цена:
                    p.products__price 3 500 рублей
            button(type='submit').products__button Купить
        .products__text-wrapper
            p.products__text Производитель: Сафонов Артем Владимирович
                span ИНН 40280806195
            p.products__text г.Калуга ул.Карачевская 3,27 +7(903)7775513.
            p.products__text Доставка осуществляется почтой России.