section.results
    h2.results__title Результаты тестирования
    ul.results__list
        li.results__item
            .results__wrapper
                .results__inner
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-left-1.png" data-srcset="img/insoles-left-1@2x.png 2x, img/insoles-left-1@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-left-2.png" data-srcset="img/insoles-left-2@2x.png 2x, img/insoles-left-2@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-right-1.png" data-srcset="img/insoles-right-1@2x.png 2x, img/insoles-right-1@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-right-2.png" data-srcset="img/insoles-right-2@2x.png 2x, img/insoles-right-2@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                p.results__description При использовании Бустеров, достигается эффект физиологического переката - от пяточной кости по наружной части стопы
                    |  (участок 1 на рисунке), через пятую плюсневую (участок 2) к первой плюсневой кости (участок 3)- даже на стопе, склонной
                    |  к пронации (заваливание стопы внутрь).
                p.results__description На диаграмме ярко выражен перекат, отмеченный фиолетовыми полосами. В отличии от красных полос (обувь без бустеров).
                    |  На диаграмме без бустеров такой последовательности не наблюдается. Следует отметить, что у испытуемого отображается
                    |  ассиметричная постановка ног (см. рисунок «Без Бустера»). При испытании с бустерами шаги стали более симметричными.
        li.results__item
            .results__wrapper
                .results__inner
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-left-3.png" data-srcset="img/insoles-left-3@2x.png 2x, img/insoles-left-3@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-left-4.png" data-srcset="img/insoles-left-4@2x.png 2x, img/insoles-left-4@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-right-3.png" data-srcset="img/insoles-right-3@2x.png 2x, img/insoles-right-3@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-right-4.png" data-srcset="img/insoles-right-4@2x.png 2x, img/insoles-right-4@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                p.results__description Площадь соприкосновения с опорой, используя Бустер, возрастает на 12%, что дает значительно большую устойчивость
                    |  и стабильность как в движении, так и при статических нагрузках. На диаграмме явно видно увеличение площади опоры.
        li.results__item
            .results__wrapper
                .results__inner
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-left-5.png" data-srcset="img/insoles-left-5@2x.png 2x, img/insoles-left-5@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-left-6.png" data-srcset="img/insoles-left-6@2x.png 2x, img/insoles-left-6@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                    ul.results__image-list
                        li.results__image-item
                            img(data-src="img/insoles-right-5.png" data-srcset="img/insoles-right-5@2x.png 2x, img/insoles-right-5@3x.png 3x" alt="Без бустеров").results__image.lazyloading
                            p.results__image-caption Без бустеров
                        li.results__image-item
                            img(data-src="img/insoles-right-6.png" data-srcset="img/insoles-right-6@2x.png 2x, img/insoles-right-6@3x.png 3x" alt="C бустерами").results__image.lazyloading
                            p.results__image-caption С бустерами
                p.results__description Бустеры поддерживают свод стопы динамически, каждый раз, когда это необходимо. Бустер обеспечивает профилактику
                    |  поперечного плоскостопия при каждом шаге, за счет особой конструкции и уникальной формы.
                    |  На диаграмме видны зеленые зоны исправленного состояния поперечного свода стопы испытуемого в обуви с бустером.
                    |  При этом у испытуемого видны признаки поперечного плоскостопия (см. Без Бустеров).
