section.specification
    .container
        h1.specification__title Конструкция бустера
        p.specification__text Бустер insoleX - современное высокотехнологичное композиционное устройство, состоящее из семи слоев.
            span Возможностью создания Бустеров insoleX послужило применение двухслойных углеродных нанотрубок, произведенных компанией CarbonAge ©.
    .specification__inner
        span.specification__plus-1
        span.specification__plus-2