section.team
    .container
        h2.team__title Команда
            span.team__title--red  Insolex:
        ul.team__list
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Вакуленко Софья Владимировна").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Вакуленко Софья Владимировна
                    p.team__position Врач-невролог
                    p.team__description Заведующий отделением «Неврология»
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Сафонов Артем Владимирович").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Сафонов Артем Владимирович
                    p.team__position Мультиспортсмен
                    p.team__description Спасатель первого класса МЧС
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Куралесов Алексей Анатольевич").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Куралесов Алексей Анатольевич
                    p.team__position Врач-травматолог-ортопед
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Тюваев Илья Николаевич").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Тюваев Илья Николаевич
                    p.team__position Тренер по триатлону, Adidas Coach League, научный сотрудник ATHRV (athrv.ru)
                    p.team__description Специалист биомеханики
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Крючков Максим Викторович").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Крючков Максим Викторович
                    p.team__position Доцент химических наук
                    p.team__description Старший преподователь РГУ Нефти и газа им. Губкина, Сооснователь и разработчик процесса синтеза углеродных нанотрубок CarbonAge.
            li.team__item
                .team__image-wrapper
                    img(data-src="img/team-member-1.png" data-srcset="img/team-member-1@2x.png 2x, img/team-member-1@3x.png 3x" alt="Бабенко Максим Николаевич").team__image.lazyloading
                .team__text-wrapper
                    p.team__name Бабенко Максим Николаевич
                    p.team__position Инженер-технолог
                    p.team__description Сооснователь и разработчик процесса синтеза углеродных нанотрубок CarbonAge.