section.team
    .container
        h2.team__title Команда
            span.team__title--red  Insolex:
        ul.team__list
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Вакуленко Софья
                    p.team__position Врач-невролог
                    p.team__description Заведующий отделением «Неврология»
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Сафонов Артем
                    p.team__position Мультиспортсмен
                    p.team__description Спасатель первого класса МЧС
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Куралесов Алексей
                    p.team__position Врач-травматолог-ортопед
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Тюваев Илья
                    p.team__position Тренер по триатлону, Adidas Coach League, научный сотрудник ATHRV (athrv.ru)
                    p.team__description Специалист биомеханики
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Крючков Максим
                    p.team__position Доцент химических наук
                    p.team__description Старший преподователь РГУ Нефти и газа им. Губкина, Сооснователь и разработчик процесса синтеза углеродных нанотрубок CarbonAge.
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Бабенко Максим
                    p.team__position Инженер-технолог
                    p.team__description Сооснователь и разработчик процесса синтеза углеродных нанотрубок CarbonAge.
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Титов Денис
                    p.team__position Ведущий эксперт по биомеханике бега
            li.team__item
                .team__image-wrapper
                    svg.team__image
                        use(xlink:href='img/sprite.svg#avatar')
                .team__text-wrapper
                    p.team__name Андриянов Николай
                    p.team__position Ведущий эксперт по изготовлению стелек