extends pug/base
block title
    | Конструкция бустера
block link
    link(rel="stylesheet" href="css/styleConstruction.min.css")
block script
    script(src="js/script.min.js")

    include pug/blocks/header
    include pug/blocks/construction
    include pug/blocks/results