extends pug/base
block title
    | Контакты
block link
    link(rel="stylesheet" href="css/styleContacts.min.css")
block script
    script(src="js/script.min.js")

    include pug/blocks/header
    include pug/blocks/team
    include pug/blocks/contacts