extends pug/base
block title
    | Бустеры INSOLEX
block link
    link(rel="stylesheet" href="css/style.min.css")

    include pug/blocks/header
    include pug/blocks/info
    include pug/blocks/description
    include pug/blocks/advantages