extends pug/base
block title
    | Продукция
block link
    link(rel="stylesheet" href="css/styleProducts.min.css")

block content
    include pug/blocks/header
    include pug/blocks/product
    script(src="https://static.yandex.net/checkout/js/v1/")
    script(src="https://static.yandex.net/checkout/ui/v1/")
    script(src="js/payment.min.js")