.advantages {
  position: relative;
  padding: 90px 0 100px;
  @media (max-width: 1280px) {
    padding: 60px 0 80px;
  }
  & .container {

  }
  &__title {
    margin: 0 0 60px;
    font-size: 67px;
    line-height: 71px;
    letter-spacing: -1.2px;
    color:$advantages-title-color;
    font-family: $GoogleSans-Bold;
    text-transform: uppercase;
    text-align: center;
    @media (max-width:1280px) {
      font-size: 44px;
      line-height: 47px;
      letter-spacing: -0.79px;
    }
    @media (max-width: 900px) {
      font-size: 35px;
    }
    &--red {
      color: $advantages-title-red-color;
    }
  }
  &__wrapper {
    display: flex;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__subtitle {
    margin: 0 0 30px;
    flex-shrink: 0;
    width: 250px;
    color: $advantages-subtitle-color;
    font-family: $GoogleSans-Bold;
    font-size: 24px;
    letter-spacing: -0.34px;
    @media (max-width: 1280px) {
      width: 195px;
      font-size: 19px;
      letter-spacing: -0.34px;
    }
  }
  &__list {
    margin-bottom: 40px;
  }
  &__item {
    &:last-child .advantages__description::after {
      display: none;
    }
  }
  &__description {
    position: relative;
    margin: 0 0 15px;
    padding-left: 25px;
    color: $advantages-descr-color;
    font-family: $GoogleSans-Regular;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.29px;
    @media (max-width: 1280px) {
      margin: 0 0 15px;
      padding-left: 25px;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: -0.29px;
    }
    &::before {
      content: '';
      position: absolute;
      left:0;
      top:7px;
      width: 18px;
      height: 3px;
      background: $advantages-border-color;
    }
    &::after {
      content: '';
      position: absolute;
      left:0;
      top:7px;
      width: 3px;
      height: calc(100% + 15px);
      background: $advantages-border-color;
    }
  }
  &__inner {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__plus-1 {
    @include plus(75%, 5%, 300px, 300px, 85px, #f6f6f6);
  }
  &__plus-2 {
    @include plus(17%, 38%, 300px, 300px, 85px, #f6f6f6);
  }
  &__plus-3 {
    @include plus(60%, 60%, 300px, 300px, 85px, #f6f6f6);
  }
  &__plus-4 {
    @include plus(-5%, 82%, 300px, 300px, 85px, #f6f6f6);
  }
}