.construction {
  position: relative;
  padding: 90px 0 130px;
  @media (max-width: 1280px) {
    padding: 50px 0 90px;
  }
  & .container {
    position: relative;
    z-index: 10;
  }
  &__description {
    margin: 0;
    color: $construction-descr-color;
    font-family: $GoogleSans-Regular;
    font-size: 40px;
    line-height: 85px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    @media (max-width: 1280px) {
      font-size: 26px;
      line-height: 55px;
      letter-spacing: -0.47px;
    }
    @media (max-width: 900px) {
      font-size: 24px;
    }
  }
  &__text {
    max-width: 1230px;
    margin: 0 0 25px;
    color: $construction-text-color;
    font-family: $GoogleSans-Regular;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.43px;
    &:first-of-type {
      margin-bottom: 120px;
      @media (max-width: 1280px) {
        margin-bottom: 80px;
      }
    }
    @media (max-width: 1280px) {
      max-width: 830px;
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.29px;

    }
  }
  &__wrapper {
    position: relative;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    background: url('../img/insoles-zones.png') no-repeat right bottom;
    background-size: 447px 683px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("../img/insoles-zones@2x.png");
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url("../img/insoles-zones@3x.png");
    }
    @media (max-width: 1280px) {
      margin-top: 90px;
      margin-bottom: 130px;
      background-size: 294px 449.4px;
      background-position: right 40px;
    }
    @media (max-width: 950px) {
      background: none;
    }
    @media (max-width: 900px) {
      margin-bottom: 0;
    }
  }
  &__list {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 1280px) {
      margin-bottom: 0;
    }
    @media (max-width: 950px) {
      margin-bottom: 0;
      max-width: unset;
    }
  }
  &__item {
    position: relative;
    padding-left: 60px;
    display: flex;
    @media (max-width: 1280px) {
      padding-left: 40px;
    }
    &::before {
      content: '';
      position: absolute;
      left:0;
      top:0;
      width: 50px;
      height: 95px;
      color: #ed1c24;
      font-family: $GoogleSans-Bold;
      font-size: 78px;
      line-height: 50px;
      @media (max-width: 1280px) {
        font-size: 51px;
        line-height: 40px;
      }
    }
    &:nth-child(1) {
      margin-bottom: 10px;
      & .construction__zone {
        max-width: 510px;
        margin-right: 50px;
        @media (max-width: 1280px) {
          max-width: 350px;
          margin-bottom: 0;
          margin-right: 50px;
        }
      }
      &::before {
        content: '5';
      }
      @media (max-width: 1280px) {
        margin-bottom: -20px;
      }
      @media (max-width: 950px) {
        margin-bottom: 40px;
      }
    }
    &:nth-child(2) {
      align-self: flex-end;
      margin-left: 260px;
      padding-right: 140px;
      & .construction__zone{
        max-width: 480px;
        @media (max-width: 1280px) {
          max-width: 350px;
          margin-bottom: 0;
        }
        @media (max-width: 950px){
          max-width: 310px;
        }
      }
      &::before {
        content: '4';
      }
      @media (max-width: 1280px) {
        margin-left: 200px;
        margin-bottom: 5px;
        padding-right: 70px;
      }
      @media (max-width: 950px) {
        margin-bottom: 40px;
        margin-left: 0;
        padding-right: 0;
        align-self: flex-start;
      }
    }
    &:nth-child(3) {
      margin-bottom: 0;
      padding-right: 120px;
      & .construction__zone {
        max-width: 500px;
        @media (max-width: 1280px) {
          max-width: 320px;
          margin-bottom: 0;
          margin-right: 40px;
        }
      }
      &::before {
        content: '3';
      }
      & .construction__zone {
        display: flex;
        flex-direction: column;
        & span {
          padding-left: 15px;
          border-left: 3px solid #ed1c24;
        }
      }
      @media (max-width: 1280px) {
        padding-right: 55px;
        margin-bottom: -40px;
      }
      @media (max-width: 950px) {
        margin-bottom: 40px;
        padding-right: 0;
      }
    }
    &:nth-child(4) {
      align-self: flex-end;
      padding-right: 210px;
      margin-left: 220px;
      @media (max-width: 1280px) {
        margin-bottom: 0;
      }
      & .construction__zone {
        max-width: 410px;
        @media (max-width: 1280px) {
          max-width: 260px;
          margin-bottom: 0;
        }
      }
      &::before {
        content: '2';
      }
      @media (max-width: 1280px) {
        padding-right: 130px;
        margin-left: 220px;
      }
      @media (max-width: 950px) {
        padding-right: 0;
        margin-left: 0;
        margin-bottom: 40px;
        align-self: flex-start;
      }
    }
    &:nth-child(5) {
      padding-right: 215px;
      margin-bottom: 30px;
      & .construction__zone {
        max-width:550px;
        @media (max-width: 1280px) {
          max-width: 360px;
          margin-right: 40px;
        }
      }
      &::before {
        content: '1';
      }
      & .construction__zone {
        display: flex;
        flex-direction: column;
        & span {
          padding-left: 15px;
          border-left: 3px solid #ed1c24;
        }
      }
      @media (max-width: 1280px) {
        padding-right: 145px;
        margin-bottom: 10px;
      }
      @media (max-width: 950px) {
        margin-bottom: 40px;
        padding-right: 0;
      }
    }
  }
  &__zone {
    flex-shrink: 0;
    margin: 0;
    color: $construction-zone-color;
    font-family: $GoogleSans-Regular;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.4px;
    width: 100%;
    @media (max-width: 1280px) {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.29px;
    }
  }
  &__caption {
    max-width: 1320px;
    margin: 0 auto;
    color: $construction-caption-color;
    font-family: $GoogleSans-Regular;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.4px;
    @media (max-width: 1280px) {
      font-size: 16px;
      line-height: 17px;
      letter-spacing: -0.29px;
    }
    &--red {
      color: $construction-caption-red-color;
      text-transform: uppercase;
    }
  }
  &__bullet-5 {
    width: 559px;
    @media (max-width: 1280px) {
      position: relative;
      top: -35px;
      width: 367px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }
  &__bullet-4 {
    position: absolute;
    top:-75px;
    right: 0;
    width: 400px;
    height: 170px;
    @media (max-width: 1280px) {
      position: absolute;
      top: -80px;
      right: -15px;
      width: 275px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }
  &__bullet-3 {
    width: 550px;
    height: 160px;
    & img {
      width: 100%;
    }
    @media (max-width: 1280px) {
      width: 350px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }
  &__bullet-2 {
    width: 156px;
    @media (max-width: 1280px) {
      position: relative;
      top: -20px;
      width: 110px;
      height: 100px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }
  &__bullet-1 {
    width: 330px;
    height: 50px;
    @media (max-width: 1280px) {
      position: relative;
      top:-10px;
      width: 220px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }
}